 :root {
   font-family: "Open Sans", sans-serif;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-color: white;
 }

 header {
   display: flex;
   justify-content: space-around;
 }

 .ul-class {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
 }

 .img-logo {
   padding: 10px;
 }

 .margin {
   margin-right: 15px;
   list-style-type: none;
 }

 nav {
   align-self: center;
 }

 main {
   background-color: brown;
 }

 h1 {
   padding: 50px;
   margin-left: 220px;
 }

 .container-h1 {
   color: white;
   font-weight: 700;
   background-color: #1c1c1c
 }

 .container-main {
   background-color: #0282f9;
 }

 .icon-list {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .icon {
   padding: 50px;
   list-style-type: none;
   color: white;
 }

 .img-icon {
   width: 20%;
 }

 .img-icon-svg {
   width: 20%;
 }